@font-face {
    font-family: 'Neucha', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: #e5e5e5;
}

section,
footer {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.header__section {
    position: relative;
    width: 1440px;
    height: 914px;
    margin: 0 auto;
    background-color: #F5F4F0;
    opacity: 90%;
    background-image: url('C:/Users/rusts/Desktop/ХЕКСЛЕТ_Проект_№1/img/bg1.png');
}

.header__content {
    position: relative;
    width: 1440px;
    height: 914px;
    opacity: 100%;
    left: 0px;
    top: 0px;
}

.main__1 {
    position: absolute;
    width: 1082px;
    height: 525px;
    left: 461px;
    top: 55px;
    bottom: 636px;
}

.header__primary {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1138px;
    height: 177.12px;
    left: 165px;
    top: 100px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;
    /* or 120% */
    /* Primary */
    color: #FE8A02;
}

.header__black {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1138px;
    height: 74px;
    left: 165px;
    top: 284px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 72px;
}

.problems__all {
    display: flex;
    column-count: 2;
    column-gap: 30px;
}

.problems__1 {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 540px;
    height: 160px;
    line-height: 26px;
    top: 543px;
    left: 165px;
}

.problems__2 {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    top: 539px;
    left: 165px;
    align-items: flex-end;
}

.pproblems {
    left: 165px;
    width: 540px;
    margin-right: 0;
}

.btn {
    position: absolute;
    width: 148px;
    height: 49px;
    left: 735px;
    top: 765px;
    border: none;
    background: #FE8A02;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
}

.video__section {
    position: relative;
    width: 1440px;
    height: 914px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
}

.video__black {
    position: relative;
    top: 100px;
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    /* or 120% */
}

.video__primary {
    position: relative;
    top: 100px;
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #fe8a02;
}

.petrovna {
    position: absolute;
    width: 1110px;
    height: 26px;
    margin-bottom: 30px;
    left: 165px;
    top: 257px;
    /* Text */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #212529;
}

.video {
    position: absolute;
    width: 919px;
    height: 569px;
    left: 261px;
    top: 329px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    z-index: 2;
}

.rect {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0;
    top: 814px;
    z-index: 1;
    background-color: #42413c;
}

.nav__section {
    position: relative;
    width: 1440px;
    height: 914px;
    margin: 0 auto;
    opacity: 100%;
    background-color: #42413c;
}

.abouts5 {
    position: absolute;
    width: 1440px;
    height: 914px;
    top: 100px;
}

.list_link {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#help .alink {
    width: 350px;
    height: 348px;
    background-color: #f5f4f0;
}

#help2 .alink {
    width: 350px;
    height: 348px;
    background-color: #f5f4f0;
}

#help1 .alink {
    width: 350px;
    height: 348px;
    background-color: #f5f4f0;
}

.alink {
    width: 350px;
    height: 323px;
    margin-right: 30px;
    background-color: #f5f4f0;
    position: relative;
}

a.alink :nth-child(n+3) {
    width: 350px;
    height: 348px;
}

.cards {
    position: relative;
    width: 350px;
    height: 323px;
    top: -25px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.cards+.cards {
    color: #2a2626;
}

.p_primary0 {
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 120%;
    /* or 62px */
    color: #FE8A02;
}

.p_white0 {
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 120%;
    /* or 62px */
    color: #ffffff;
}

.p_numbers {
    margin: 24px;
    margin-bottom: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
    color: #42413c;
}

.p_headers {
    margin: 40px 24px 16px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #fe8a02;
}

.p_texts {
    padding: 0 24px;
    width: auto;
    height: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #42413c;
}

#help {
    width: 350px;
    height: 348px;
}

#help2 {
    width: 350px;
    height: 348px;
}

#help1 {
    width: 350px;
    height: 348px;
}

.ikea-effect {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background-color: #F5F4F0;
    background-image: url('C:/Users/rusts/Desktop/ХЕКСЛЕТ_Проект_№1/img/bg1.png');
}

.ikea__eff {
    column-count: 2;
    column-gap: 30px;
    margin: 0 auto;
    padding: 100px 0;
    width: 1110px;
    height: 634px;
    display: flex;
}

.ikea__photo {
    position: relative;
    width: 578px;
    height: 434px;
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 0;
}

.ikea__cd {
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #908d8b;
}

.ikea__h2 {
    width: 502px;
    height: 72px;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2a2626;
}

.ikea__text {
    width: 502px;
    height: 120px;
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    color: #2a2626;
}

.ikea__eff-about {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.ikea__how {
    padding: 3px 0 3px 10px;
    margin-bottom: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b09a81;
}

.ikea__text-about {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    align-items: top;
    text-align: left;
}

.ikea {
    width: 540px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    margin: 20px;
    font-size: 16px;
    line-height: 25px;
    color: #2a2626;
}

.premature-optimization {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background-color: #B09A81;
    background-image: url('C:/Users/rusts/Desktop/ХЕКСЛЕТ_Проект_№1/img/bg1.png');
}

.premature__opt {
    position: relative;
    width: 1110px;
    height: 634px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
}

.premature__opt-cd {
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #D7CCC0;
}

.premature__opt-h2 {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    margin: 0;
    line-height: 72px;
    color: #ffffff;
}

.premature__opt-text {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    margin: 30px 0;
    line-height: 120%;
    color: #ffffff;
}

.premature__opt-photo {
    vertical-align: middle;
    width: 578px;
    height: 434px;
}

.premature__opt-about {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.premature__how-work {
    margin: 0;
    padding: 4px 0 6px 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #b09a81;
    background: #ffffff;
}

.premature__opt-text-about {
    position: relative;
    width: 1110px;
    height: 100px;
    margin-top: 20px;
    column-count: 2;
    column-gap: 30px;
    display: flex;
}

.premature {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-top: 0;
    line-height: 26px;
    color: #ffffff;
}

.distortion-of-novelty {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background-color: #F5F4F0;
    background-image: url('C:/Users/rusts/Desktop/ХЕКСЛЕТ_Проект_№1/img/bg1.png');
}

.distortion__of {
    width: 1110px;
    height: 634px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    column-count: 2;
    column-gap: 30px;
}

.distortion__of-photo {
    width: 578px;
    height: 434px;
}

.distortion__of-cd {
    margin: 0;
    padding: 0;
    font-family: 'Neucha';
    font-weight: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #908d8b;
}

.distortion__of-h2 {
    margin: 0;
    width: 502px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2a2626;
}

.distortion__of-text {
    margin: 30px 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 120%;
    color: #2a2626;
}

.distortion__of-about {
    width: 1110px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.distortion__of-how-work {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #B09A81;
    padding: 5px 0 5px 10px;
}

.distortion__of-text-about {
    margin-top: 20px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #2a2626;
    display: inline-block;
    column-count: 2;
    column-gap: 30px;
}

.distortion {
    margin: 0;
    width: 540px;
}

.hyperbolic-depreciation {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    background-color: #B09A81;
    background-image: url('C:/Users/rusts/Desktop/ХЕКСЛЕТ_Проект_№1/img/bg1.png');
}

.hyperbolic__dep {
    position: relative;
    width: 1110px;
    height: 636px;
    padding: 100px 0;
    margin: 0 auto;
    column-count: 2;
    column-gap: 30px;
}

.hyperbolic__dep-cd {
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #d7ccc0;
}

.hyperbolic__dep-h2 {
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #fff;
}

.hyperbolic__dep-text {
    margin-top: 30px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 120%;
    color: #ffffff;
}

.hyperbolic__dep-photo {
    width: 578px;
    height: 434px;
    vertical-align: middle;
}

.hyperbolic__dep-about {
    width: 1110px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.hyperbolic__dep-h3 {
    padding: 5px 0 5px 10px;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: #fff;
    color: #b09a81;
}

.hyperbolic__dep-about-text {
    width: 1110px;
    height: 150px;
    margin: 20px 0;
    column-count: 2;
    column-gap: 30px;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #2a2626;
}

.hyperbolic__dep-p {
    width: 540px;
    margin: 0;
    color: #fff;
}

.footer {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    background-color: #fff;
    display: block;
}

.container {
    position: relative;
    width: 1110px;
    height: 366px;
    padding: 100px 0 76px;
    margin: 0 auto;
}

.container__inner {
    position: relative;
    width: 1110px;
    height: 190px;
    background-color: #42413C;
    color: #ffffff;
    display: flex;
    column-count: 2;
    column-gap: 30px;
    align-items: center;
}

.inner__left {}

.more__info {
    width: 393px;
    height: 80px;
    margin: 0;
    margin-left: 55px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 120%;
    color: #fff;
}

.mail {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #fff;
}

.input__text {
    width: 423px;
    height: 50px;
    border: 1px solid #FE8A02;
}

.input__text::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: #757575;
    opacity: 0.4;
}

.submit {
    position: relative;
    padding: 0;
    top: 20px;
    left: -5px;
    background-color: #42413C;
    border: 1px solid #FE8A02;
}

.accept {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #fff;
}


/*.more__info {
    position: absolute;
    width: 393px;
    height: 80px;
    left: calc(50% - 393px/2 - 303.5px);
    top: 55px;
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 120%;
    /* or 41px 
    color: #FFFFFF;
}*/

.contacts__made {
    margin: 0 0 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.contacts__Yash {
    margin: 0 0 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.contacts__hexlet {
    padding: 0 0 116px;
    margin: 0 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

a.contacts {
    color: #1085C5;
    text-decoration: underline;
    line-height: 22px;
}

.service-rules {
    text-decoration: underline;
    margin: 0.45em;
}

.service-rules::before {
    content: ' ';
}